*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1287px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 5px 20px;
  margin-top: 0;
  border-bottom: 1px solid lightgray;
}

.left-div {
  display: flex;
  justify-content: space-around;
}

.left-div > span {
  margin-right: 30px;
}

.left-div > a {
  font-size: 13px;
  font-weight: 1000;
  color: black;
}

.left-div > a > span{
  font-family: sans-serif;
}

.center-div {
  display: flex;
  justify-content: center;
}
.center-div > img {
  width: 35%;
}

.right-div > button {
  color: white;
  background-color: #567b95;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.title {
  width: 100%;
  margin-top: 70px;
}

.title h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 6vh;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

figure {
  display: block;
}

figure img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 12px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #666;
}

figcaption span {
  font-size: 10px;
  opacity: 0.8;
}

article{
  width: 50%;
}

.info-div{
  display: flex;
  justify-content: space-between;
}