*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    margin-top: 0;
    border-bottom : 1px solid lightgray;
}

.left-div{
    display: flex;
    justify-content: space-around;   
}

.left-div > span{
    margin-right: 30px;
}

.left-div > a{
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.center-div{
    display: flex;
    justify-content: center;
}
.center-div > img{
    width: 35%;
}

.right-div > button{
    color: white;
    background-color: #567B95;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
}